@charset "UTF-8";

@font-face {
    font-family: "PassionOne";
    src: url(../fontes/PassionOne-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "Sriracha";
    src: url(../fontes/Sriracha-Regular.ttf) format(truetype);
}



* {
    margin: 0;
}

header {
    background-color: black;
}

h1 {
    font-family: "PassionOne", sans-serif;
    font-size: 192px;
    font-weight: normal;
    color: white;
    text-align: center;
    padding: 50px 50px 0px 50px;
}

aside {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-bottom: 50px;
}

a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    
}


a:hover {
    text-decoration: underline;
}

article {
    margin-top: 61px;
}

p {
    font-family: "Sriracha";
    font-size: 67px;
    width: 50%;
    line-height: 67px;
    margin-left: 30px;
    padding-bottom: 130px;
}

#imagem1 {
    background-image: url(../imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 90px 0px 90px 35px;
}

#imagem2 {
    background-image: url(../imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 90px 0px 90px 35px;
}

.estrofe {
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    width: 42%; 
    padding-bottom: 40px;
    margin-top: 0px;
}

.texto {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

#sombra1 {
    
}

#sombra2 {

}

footer {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
}
